<html>
<body>
  {% include "common/global_nav.njk" %}

  <div class="board-container">
    <section class="container">
      <header>
        <div class="button-col">
			<a href="/admin/user/create">
        		<button class="btn" name="Add User"> Add User </button>
			</a>
        </div>

        <div class="status-col">
          <label> Status </label>
        </div>

        <div class="progress-col">
          <label> Progress </label>
        </div>
        
        <div class="dates-col">
          <label> Dates </label>
        </div>

        <div class="priority-col">
          <label> Priority </label>
        </div>
        
        <div class="icon-col">
          <i class="icon fa fa-user-o"> </i>
        </div>
      </header>

      <!-- List Items -->
      <ul id="BoardContainer" class="task-items"></ul>

    </section>
  </div>
</body>

<script src="{{static}}/js/board_item.js"></script>

</html>

